.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}

.flex {
  display: flex;
}

.btn {
  margin: 5px;
  padding: 20px;
  color: white;
}


.btn-red {
  background: #f45044;
  border-radius: 10px;
  border: solid rgba(209,67,57,1) 1px;
  -webkit-box-shadow: -4px 4px 0px -1px rgba(209,67,57,1);
  -moz-box-shadow: -4px 4px 0px -1px rgba(209,67,57,1);
  box-shadow: -4px 4px 0px -1px rgba(209,67,57,1);
  
  
  &:hover {
    background: lightcoral;
  }
}

.btn-blue {
  background: #0497f7;
  border-radius: 10px;
  border: solid #0176c2 1px;
  -webkit-box-shadow: 4px 4px 0px -1px #0176c2;
  -moz-box-shadow: 4px 4px 0px -1px #0176c2;
  box-shadow: 4px 4px 0px -1px #0176c2;

  &:hover {
    background: lightskyblue;
  }
}